[project]
	description = use to explore various features (e.g. gerrit)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Nelson (anelson-vidscale)
[access "refs/for/refs/*"]
	read = group user/Alex Nelson (anelson-vidscale)
	push = group user/Alex Nelson (anelson-vidscale)
	label-Code-Review = -2..+2 group user/Alex Nelson (anelson-vidscale)
	label-Verified = -1..+1 group user/Alex Nelson (anelson-vidscale)
	rebase = group user/Alex Nelson (anelson-vidscale)
	removeReviewer = group user/Alex Nelson (anelson-vidscale)
	submit = group user/Alex Nelson (anelson-vidscale)
[access "refs/heads/*"]
	read = group user/Alex Nelson (anelson-vidscale)
	create = group user/Alex Nelson (anelson-vidscale)
	push = +force group user/Alex Nelson (anelson-vidscale)
	pushMerge = group user/Alex Nelson (anelson-vidscale)
[access "refs/tags/*"]
	push = +force group user/Alex Nelson (anelson-vidscale)
	pushTag = group user/Alex Nelson (anelson-vidscale)
	pushSignedTag = group user/Alex Nelson (anelson-vidscale)
